.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ItemList{
  margin: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  background-color: grey;
}

.ItemDetail{
  margin: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: gray;
}

.sectionTitle{
  text-align: center;
}

.item{
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* .item:hover{

} */

.buttonsCart {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.buttonsCart button {
  margin: 0.5rem;
}

.modifyQuantity {
  padding: 0.5rem;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.modifyQuantity button{
  margin: 0.5rem;
  padding: 0.2rem 0.5rem;

  color: white;
  border-radius: 0.3rem;
}

.carga {
  display: flex;
  flex-flow: column;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
